<header class="d-flex flex-row">
    <h1>COVID-19</h1>
    <nav id="toolbar">
        <a class="mx-5" id="to-homepage" href="#">Trang chủ</a>
        <a class="mx-5" id="to-admin" href="#">Quản lý</a>
    </nav>
    <div id="profile-area" class="d-flex flex-row">
        <p id="adminLabel">admin</p>
        <div class="dropdown" id="account-menu-pop-up bg-transparent">
            <button id="btn-profile" class="border-0 bg-transparent"><i class="fa-solid fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="index.html">Đăng xuất</a>
            </div>
        </div>
    </div>
</header>